<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="spring-training.properties"/>
    </bean>

    <!--<bean id="myBeanForProperties" class="org.diosoft.spring.el.MyBean">-->
    <!--<constructor-arg value="#{ systemProperties['user.home'] }"/>-->
    <!--<constructor-arg value="#{3+2}"/>-->
    <!--</bean>-->
    <!---->
    <context:component-scan base-package="org.diosoft.spring.el"/>

    <bean id="myBean" class="org.diosoft.spring.el.MyBean" init-method="init">
        <constructor-arg value="#{ systemProperties['user.home'] }"/>
        <constructor-arg value="#{3+2}"/>
        <property name="value3" value="#{ T(java.lang.Math).random() * 100.0 }"/>
    </bean>


</beans>